<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.dao.T_ghostdataDAO">

	<select id="fdview" resultType="com.smhrd.entity.T_ghostdata">
		select * from t_ghostdata
		where g_idx = #{g_idx}
	</select>


</mapper>