<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.dao.T_userdataDAO">

	<select id="fdlist" resultType="com.smhrd.dao.T_userdataDAO">
		select * from t_userdata
		where u_idx = #{u_idx}
	</select>

</mapper>